* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
  color: white;
}

.nav {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: aqua;
  color: black;
}

/* Card */
.dataOfUser {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  border: 2px solid rgb(0, 0, 0);
  color: black;
  padding: 3rem;
  border-radius: 12px;
}

.detail {
  background-color: #333;
  margin: 3px;
  display: grid;
}
